body{
    font-family: 'Antonio', sans-serif;
    background-color: #92d3ec;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}
.contacts{
    display: flex;
    flex-direction: row;
}

.contacts div{
    margin: 0em 0.5em 0 0.5em;
    padding: 0.3em 0.8em 0.3em 0.8em;
    border-radius: 7%;
    background-color: cadetblue;
    align-items: center;

}
.contacts div a{
    color:white;
    text-decoration: none;
    align-items: center;
}

.contenido {
    position: absolute;
    top: 10%;
    width: 100%;
    left: 0;
}
.container{
    position: relative;
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    border: black 1px solid;

}
.project{
    width: 20%;
    position: relative;
    border-radius: 7%;
    background-color: rgb(243, 243, 243);
    justify-content: center;
}
.projectHeader{
    position: relative;
    height: 12%;
    justify-content: center;
    text-align: center;
}
.slice{
    width: 100%;
    position: relative;
    height: 88%;
}
.slice img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8%;
}