svg{
    width: 100%;
}
path{

    fill:none;
    stroke-width:0.865;
    stroke-dasharray: 0;

    /* stroke-linecap:butt; */
    /* stroke-linejoin:miter; */
    /* stroke-miterlimit:4; */
}
circle{
    stroke-dasharray: 0;
    fill:none;

    /* stroke-linecap:butt; */
    /* stroke-linejoin:miter; */
    /* stroke-miterlimit:4; */
}


@keyframes animacion{
    to{stroke-dashoffset: 0;}
}

#stop880{
    stop-opacity:0;
    animation: gradiente 2s linear forwards;
}
#stop881{
    stop-opacity:0;
    animation: gradiente 1s linear 4s forwards;
}

@keyframes gradiente{
    to{stop-opacity: 1;}
}